---
layout: default
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.author_avatar }}" class="img-circle about-image" height="165" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.author_name }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h1>最 近 更 新</h1>

              <ul>
                  {% for post in site.posts | limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date:"%d/%m/%Y"}}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <span><i><a href="{{ site.baseurl }}/posts/">更多...</a></i></span>
                  </li>
              </ul>

            </div>

        </div>

    </div>
    <div class="container-fluid index">
  <div class="row index all-posts">

    <span class="header" itemprop="headline"><h1 style="font-size:50px;">全部文章</h1></span>
    <!--sort by custome-->
    {% for category in site.categories %}
    <div class="col-md-12 content-panel articles">
    <h2><span style="font-size:35px">{{ category | first }}</span></h2>
    <ul >
        {% for post in category.last %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <br />
              <small> <i class="fa fa-tags"></i></small>
              {% for tag in post.tags %}
                <small>
                  {{ tag| join: ', ' }} |
                </small>
              {% endfor %}
            </li>
        {% endfor %}
    </ul>
    </div>
    {% endfor %}
  </div>
</div>
</div>
