<div class="footer clearfix">
  <div class="col-md-6">
    {{ site.footer_left }}
  </div>
  <div class="col-md-6">
    {{ site.footer_right }}
  </div>
</div>

<script src="{{ site.baseurl }}/js/jquery-1.11.0.mini.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.mini.js"></script>
<script src="{{ site.baseurl }}/js/jquery.mmenu.min.all.js"></script>
<script src="{{ site.baseurl }}/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
   $(document).ready(function() {
     addChenjinshiFont();
      $("#my-menu").mmenu().on( "closed.mm", function() {
            $(".menu-button").show();
         });
      $(".menu-button").click(function() {
        $(".menu-button").hide();
        $("#my-menu").trigger("open.mm");
      });
      //2015-12-12 12:18:56，关闭导航
      $(".my-home").click(function() {
        $("#my-menu").trigger("close.mm");
      });
   });
</script>

{% if site.baidu_analytics %}
<script type="text/javascript">
var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?7ad0006693dc5c547b2843f27ea0184b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
</script>
{% endif %}

<script type="text/javascript">

function addChenjinshiFont(){
try {
    if (localStorage.chenjishi) {
        // 如果localStorage中有该字体，就直接取出来加载

        addFont(localStorage.getItem("chenjishi"));
    } else {

        // 首次加载字体我们需要异步加载它
        $.get("{{ site.baseurl }}/font/xingshu/chenjishi.css", function(result){
          // localStorage.chenjishi = result;
          localStorage.setItem('chenjishi', result);
           addFont(result);
      });
    }
  }catch(err){
      alert("请在电脑上用谷歌或者火狐浏览器吧，你这浏览器加载出来的不能忍");
   }
 }
 function addFont(cssString) {
   var doc=document;
       var style=doc.createElement("style");
       style.setAttribute("type", "text/css");

       if(style.styleSheet){// IE
           style.styleSheet.cssText = cssString;
       } else {// w3c
           var cssText = doc.createTextNode(cssString);
           style.appendChild(cssText);
       }
       var heads = doc.getElementsByTagName("head");
       if(heads.length)
           heads[0].appendChild(style);
       else
           doc.documentElement.appendChild(style);
 }
</script>
