<div class="footer clearfix">
  <div class="col-md-6">
    {{ site.footer_left }}
  </div>
  <div class="col-md-6">
    {{ site.footer_right }}
  </div>
</div>

<script src="{{ site.baseurl }}/js/jquery-1.11.0.mini.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.mini.js"></script>
<script src="{{ site.baseurl }}/js/jquery.mmenu.min.all.js"></script>
<script src="{{ site.baseurl }}/js/highlight.pack.js"></script>
<!--中文字体陈继世字体支持-->
<script type="text/javascript" src="http://www.youziku.com/webfont/FastJS/b828ec02475b4861823065822134a905.js"></script>
<script  type="text/javascript">
$youziku.load("#main_body", "b828ec02475b4861823065822134a905", "cjsyingbixingshu");
$youziku.load(".pages", "b828ec02475b4861823065822134a905", "cjsyingbixingshu");
$youziku.load(".header", "b828ec02475b4861823065822134a905", "cjsyingbixingshu");
$youziku.load(".feedback", "b828ec02475b4861823065822134a905", "cjsyingbixingshu");
$youziku.load(".author", "b828ec02475b4861823065822134a905", "cjsyingbixingshu");


/*[．．．]*/
$youziku.draw();
</script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
   $(document).ready(function() {
      $("#my-menu").mmenu().on( "closed.mm", function() {
            $(".menu-button").show();
         });
      $(".menu-button").click(function() {
        $(".menu-button").hide();
        $("#my-menu").trigger("open.mm");
      });
      //2015-12-12 12:18:56，关闭导航
      $(".my-home").click(function() {
        $("#my-menu").trigger("close.mm");
      });
   });
</script>

{% if site.baidu_analytics %}
<script type="text/javascript">
var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?7ad0006693dc5c547b2843f27ea0184b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
</script>
{% endif %}
