---
layout: default
---

{% if page.minutes %}
  {% assign minutes = page.minutes %}
{% else %}
  {% assign minutes = content | number_of_words | divided_by: 180 %}
  {% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
{% endif %}

<div class="container-fluid single">
  <div class="row">

    <div itemscope itemtype="http://schema.org/Article" class="col-md-12 article">
      {% if site.data.thumbnail[page.thumbnail] %}
      <div class="thumb">
        <img itemprop="image" src="{{ site.data.thumbnail[page.thumbnail] }}" alt="Thumbnail: {{ page.thumbnail }}" />
      </div>
      {% elsif page.thumbnail %}
      <div class="thumb">
        <i class="fa fa-{{ page.thumbnail }} fa-4x"></i>
      </div>
      {% endif %}

      <h1 class="header" itemprop="name">{{ page.title }}</h1>

      <div class="author">
        <small><i>
          {% if page.author %}
          by
          <span itemprop="author">
            {% if site.google_plus_link %}
              <a rel="author" href="{{ site.google_plus_link }}">
            {% endif %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ page.author }}</span>
            </span>
            {% if site.google_plus_link %}
              </a>
            {% endif %}
          </span>
          {% endif %}
          on <span itemprop="datePublished" content="2014-08-28">{{ page.date | date: "%B %-d, %Y" }}</span>
          {% if page.categories != empty %} under {% for category in page.categories limit:1 %}{{ category }}{% endfor %}{% endif %}
        </i></small>
      </div>

      <div class="read-time">
        <small>
          {{ minutes }} minute read
        </small>
      </div>

      <div class="content-panel content">
        <span itemprop="articleBody">{{ content }}</span>

       {%if site.jiaThis == "ok"%}
     <!-- 分享文章 -->
          <div class="jiathis_style_32x32">
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_renren"></a>
            <!--a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a-->
            <!--a class="jiathis_counter_style"></a-->
          </div>
         <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
        {% endif %}

        {% if page.tags and page.tags.size > 0 %}
        <div class="tags">
          <small>
          <i class="fa fa-tags"></i>
            {{ page.tags | join: ', ' }}
          </small>
        </div>
        {% endif %}

      </div>

      <div class="content-panel feedback">
         不明<i class="fa fa-heart"></i> 觉厉<br />
       如果你对此文章有更好的想法请 <a href="http://weibo.com/SuDoYc" target="_blank">@夏天丶x</a> 或者在下面评论!
      </div>

      {% if site.comment_os == "uyan"  %}
    <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2075696"></script>
    <!-- UY END -->
    
     {% else if site.comment_os == "changyan" %}
     <!--打分版，用户可以对当前新闻、游戏或者应用等进行1-5级的评分-->
      <div id="SOHUCS"></div>
      <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
      <script type="text/javascript">
          window._config = { showScore: true };
          window.changyan.api.config({
              appid: 'cys8B776p',
              conf: 'prod_f5e62400886309bd420b5adfe00275c4'
          });
      </script> 

       
     {% endif %}
      {% if site.related_posts.length > 0 %}
      <div class="content-panel related clearfix">
        {% for post in site.related_posts limit:1 %}
        <div class="related-header">
          <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
        </div>
          <div class="title">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </div>
          <div class="excerpt">
             {% if post.summary %}
              {{ post.summary | strip_html | truncatewords:30 }}
             {% else %}
              {{ post.excerpt | strip_html | truncatewords:30 }}
             {% endif %}
            <a href="{{ site.baseurl }}{{ post.url }}">Continue Reading</a>
          </div>
        {% endfor %}
        <hr />
        <div class="previous previous-next">
          {% if page.previous %}
          <p>
            <a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a>
          </p>
          <p class="date">Published {{ page.previous.date | date: "%B %-d, %Y" }}</p>
          {% endif %}
        </div>
        <div class="next previous-next">
          {% if page.next %}
          <p>
            <a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a>
          </p>
          <p class="date">Published {{ page.next.date | date: "%B %-d, %Y" }}</p>
          {% endif %}
        </div>
      </div>
      {% endif %}

    </div>

  </div>

</div>

